.overview-card {
  position: relative;
  background-color: white;
  border-radius: 1.25rem;
  padding: 3rem 1.5rem 2rem;
  flex: 1;
  min-width: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid #9B91D9;
  box-shadow: none;
}

.wellbeing-orb {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #87D5B2;
  z-index: 0;
}

.card-label {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  z-index: 1;
}

.overview-card h3 {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  z-index: 1;
  white-space: pre-wrap;
}

.status-container {
  margin-top: 0.6rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: #222;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.status-icon {
  color: #87D5B2;
  font-size: 1.1rem;
}

.add-button {
  margin-top: auto;
  margin-bottom: 0;
  background-color: #9B91D9;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  max-width: 220px;
  height: 48px;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: background 0.2s ease;
}

.add-button:hover {
  background-color: #8876d0;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
  z-index: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
}


